{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            {% include 'cosmetologs/service_product_item_image.html' %}
            <div class="col-lg-8">
                <div class="service-page-details">
                    <h1 class="text-center service-page-name">{{ service_product.name }}</h1>
                    <div class="text-center cosmetolog-page-type"> {{ service_product.subcategory }}</div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group service-page-price">
                                <p> <span style="font-weight: 700">Стоимость:</span>
                                    {% if service_product.price01 == service_product.price02  %}
                                        {{ service_product.price01 }} грн.
                                    {% else %}
                                        от {{ service_product.price01 }} грн. до {{ service_product.price02 }} грн.
                                    {% endif %}
                                    {% if service_product.discount %}
                                        <button type="submit" id="submit_order_btn" class="btn btn-success service-page-discount-box"
                                                data-toggle="modal" data-target="#SendOrderService">
                                            <div style="font-size: 10px;margin-top: -10px;">скидка</div>
                                            <div>{{ service_product.discount }}%</div>
                                        </button>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if  service_product.short_description %}
                        <div class="row">
                            <div class="col-lg-12">{{ service_product.short_description }}</div>
                        </div>
                    {% endif %}
                    {% include 'landing/buttons_see.html' %}
                    {% include 'landing/button_send_service_request.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs profile-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab"
                           aria-controls="about" aria-selected="true">Описание услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="service-tab" data-toggle="tab" href="#service" role="tab"
                           aria-controls="service" aria-selected="false">Другие услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-tab" data-toggle="tab" href="#product" role="tab"
                           aria-controls="product" aria-selected="false">Товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cosmetolog-tab" data-toggle="tab" href="#cosmetolog" role="tab"
                           aria-controls="cosmetolog" aria-selected="false">Кто предоставляет услуги</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    {% include 'cosmetologs/service_about.html' %}
                    {% include 'cosmetologs/service_service.html' %}
                    {% include 'cosmetologs/service_product.html' %}
                    {% include 'cosmetologs/service_cosmetolog.html' %}
                </div>
            </div>
        </div>
        {% include 'landing/button_send_service_request.html' %}
    </div>
    <!-- Modal form html -->
    <div class="col-lg-12">
        {% include 'cosmetologs/form_send-service-order_item.html' %}
    </div>

    {% if cosmetolog_address %}
        <!-- Modal form html -->
        <div class="col-lg-12">
            {% include 'cosmetologs/form_map_modal.html' %}
        </div>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOf6FMZtoYvo3HhSLh5p2GmoimoaBQ0SE&callback=initMapMy">
        </script>
    {% endif %}
{% endblock %}