
                <div class="container price-bundle">
                    <div class="row">
                        <div class="col-lg-5 hidden">
                            <div class="btn-group-toggle btn-order-users active" data-toggle="buttons">
                                <input type="radio" value="{{ p_sale.volume }}" checked
                                   data-product_sales_id = "{{ bundle_sales.id }}"
                                   data-name = "{{ bundle_sales.name }}"
                                   data-price = "{{ bundle_sales.price_current }}"
                                   data-case = "12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <form id ="form_buying_product" class="form-inline"
                                          action="{% url 'basket_adding' %}">{% csrf_token %}
                                        <div class="form-group service-page-price">
                                            {% if bundle_sales.price_old  > 0 %}
                                                <div class="product-page-price-old">
                                                    {{ bundle_sales.price_old }} грн.
                                                </div>
                                                <div class="product-page-price-discounted">
                                                    {{ bundle_sales.price_current }} грн.
                                                </div>
                                            {% else %}
                                                <div class="product-page-price-standard">
                                                    {{ bundle_sales.price_current }} грн.
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" name="number" id="number"
                                                   value="1" min="0" max="10" step="1" pattern="\d+">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" id="submit_btn" class="btn btn-success btn-buy btn-buy-page-product"
                                                    data-backdrop="static" data-keyboard="false"
                                                    data-toggle="modal" data-target="#SendProductToBasket">
                                                Купити
                                                <i class="fas fa-shopping-cart buy-cart"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
