{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 product-image-item">
                {% for image_item in product.productimage_set.all %}
                <img src="{{ image_item.image.url }}" class="img-fluid">
                {% endfor %}
            </div>
            <div class="col-lg-7">
                <div class="service-page-details">
                    <h1 class="product-page-name">{{ product.name }}</h1>
                    <h2 class="product-page-name-pl">{{ product.name_pl }}</h2>
                    <p>{{ product.name_description }} - {{ product.description }}</p>

                    {% if cosmetolog %}
                        {% include 'products/product_cosmetolog_sales.html' %}
                    {% else %}
                        {% include 'products/product_visitor.html' %}
                    {% endif %}

                    <div class="text-center cosmetolog-page-type hidden">
                        <span>Производитель: <span class="producer-name">{{ product.producer }}</span></span>
                        <span>Категория товара: <span class="product-category">{{ product.category }}</span></span>
                        <span>Вид: <span class="product-type">{{ product.type }}</span></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% autoescape off %} {{ product.description_1 }} {% endautoescape %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <p><span style="font-weight: bold">{{ product.name_description_2 }}:</span>
                                        {{ product.description_2 }}</p>
                            </div>
                            <div>
                                <p><span style="font-weight: bold">{{ product.name_description_3 }}:</span>
                                        {{ product.description_3 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--     Modal form html-->
    <div class="col-lg-12">
        {% include 'cosmetologs/modal_form_send-product-to-basket.html' %}
    </div>

{% endblock %}