{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 product-image-item">
                {% for image_item in product_show.productimage_set.all %}
                <img src="{{ image_item.image.url }}" class="img-fluid">
                {% endfor %}
            </div>
            <div class="col-lg-7">
                <div class="service-page-details">
                    <h1 class="product-page-name">{{ product_show.name }}</h1>
                    <h2 class="product-page-name-pl">{{ product_show.name_pl }}</h2>
                    <p>{{ product_show.name_description }} - {{ product_show.description }}</p>

                    {% if cosmetolog %}
                        {% include 'products/product_cosmetolog_sales.html' %}
                    {% else %}
                        {% include 'products/product_visitor.html' %}
                    {% endif %}

                    <div class="text-center cosmetolog-page-type hidden">
                        <span>Производитель: <span class="producer-name">{{ product_show.producer }}</span></span>
                        <span>Категория товара: <span class="product-category">{{ product_show.category }}</span></span>
                        <span>Вид: <span class="product-type">{{ product_show.type }}</span></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% autoescape off %} {{ product_show.description_1 }} {% endautoescape %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <p><span style="font-weight: bold">{{ product_show.name_description_2 }}:</span>
                                        {{ product_show.description_2 }}</p>
                            </div>
                            <div>
                                <a href="/ingredient/"><span class="link-decoration" style="font-weight: bold">
                                    {{ product_show.name_description_3 }}:</span></a>
                                {% for key, value in ingredient_dict.items %}
                                <li>{{key}} - {% for v in value %}
                                        <a href="{% url 'ingredient' v.1 %}"
                                           class="link-decoration ingredient-link">{{ v.0 }}</a>,
                                    {% endfor %}
                                </li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--     Modal form html-->
    <div class="col-lg-12">
        {% include 'cosmetologs/modal_form_send-product-to-basket.html' %}
    </div>

{% endblock %}