{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <h3 class="text-center">Another Tricks</h3>
        {% if tricks_all %}
            {% for trick in tricks_all %}
                {% include 'another/another_trick_item.html' %}
            {% endfor %}
        {% else %}
            <div>There is no Tricks yet</div>
        {% endif %}
    </div>
    <form>
    {{ form.media }}
    {{ form.as_p }}
    <input type="submit"/>
    </form>
{% endblock %}