<tr>
    <td>
        <a class="" href="{% url 'crm_product_item' product.slug %}">
            <span class="product-price">
                {{product.name}}
            </span>
        </a>
    </td>
    <td>
        <span class="product-price">
            {{product.price}}
        </span>
    </td>
    <td>
        <span class="product-price">
            {{ product.discount}}
        </span>
    </td>
    <td>
        <span class="total-product-in-basket-amount">
            {{ product.description_1 }}
        </span>
    </td>
</tr>