{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 about-box">
                <h1>{{ trick.name }}</h1>
                {{ asas }}
                {% if about_text_object.page_text %}
                    {% autoescape off %} {{ about_text_object.page_text }} {% endautoescape %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}