<!-- Static navbar -->

<div class="row g-0">
    <div class="col-lg-3 nav-login-column">
        <section class="nav-login-section col">
            {% if username %}
            <a href="/profile/"><div class="btn shor-btn shor-color">Профіль</div></a>
            <a href="/logout/"><div class="btn shor-btn shor-color">Вихід ({{ username }})</div></a>
            {% else %}
<!--                <li class="nav-login"><a class="nav-login-a" href="/registration/">Pегистрация</a></li>-->
<!--                <li class="nav-login"><a class="nav-login-a" href="/login/">Вход</a></li>-->
            <a href="/registration/"><div class="btn shor-btn shor-color">Реєстрація</div></a>
            <a href="/login/"><div class="btn shor-btn shor-color">Вхід</div></a>
            {% endif %}
        </section>
    </div>
    <div class="col-lg-9">
        <nav class="navbar navbar-expand-lg navbar-light navbar-second-block">
            <div class="row">
                <div class="col-lg-8 nav-block-shor-link">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto navbar-nav-shor">
                            <li class="nav-item active">
                                <a class="nav-link" href="/" title="Головна сторінка"><i class="fas fa-home"></i></a>
                            </li>
                            {% include 'navbar_dropdown_product_lines.html' %}
                            <li class="nav-item">
                                <a class="nav-link" href="/about/">Про нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/training/">Навчання</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 nav-brand-block">
                    <a class="navbar-brand navbar-brand-shor" href="/">
                        <img src="{{ logo_images.image.url }}" alt="shor, израильская косметика, омоложение">
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
