<!--Traning for MegaMenu with picture --- FUl version in teh file -- file:///C:/Users/dmytro.k/Downloads/1642405141450.html-->

<nav class="navbar navbar-default" role="navigation">
 <div class="container-fluid">

<!--  <div class="navbar-header">-->
<!--   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">-->
<!--    <span class="sr-only">Toggle navigation</span>-->
<!--    <span class="icon-bar"></span>-->
<!--    <span class="icon-bar"></span>-->
<!--    <span class="icon-bar"></span>-->
<!--   </button>-->
<!--   <a class="navbar-brand" href="#"></a>-->
<!--  </div>-->

<!--  <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">-->
  <div class="" id="bs-megadropdown-tabs">
   <ul class="nav navbar-nav">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li class="dropdown mega-dropdown active">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mega Dropdown <span class="caret"></span></a>
     <div class="dropdown-menu mega-dropdown-menu">
      <div class="container-fluid">
       <div class="tab-content">
        <div class="tab-pane active" id="img1">
         <ul class="nav-list list-inline">
          <li><a href="#"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"><span>image 1</span></a></li>
          <li><a href="#"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/2.png"><span>image 2</span></a></li>
          <li><a href="#"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/3.png"><span>image 3</span></a></li>
          <li><a href="#"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/4.png"><span>image 4</span></a></li>
          <li><a href="#"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/5.png"><span>image 5</span></a></li>
          <li><a href="#"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/6.png"><span>image 6</span></a></li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Link 3</a></li>
    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider">
      </li>
      <li><a href="#">Link</a></li>
     </ul>
    </li>
   </ul>
  </div>
<!-- /.navbar-collapse -->
 </div>
<!-- /.container-fluid -->
</nav>
