              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Каталог препаратів
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for product_line in product_lines %}
                        <a class="dropdown-item" href="{% url 'product_line' product_line.slug %}">{{ product_line.name }}</a>
                    {% endfor %}
                </div>
              </li>
