<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shor Professional Ukraine</title>
</head>

<body>
<h3>Вітаємо!!!</h3>
<p>Ваше замовлення № {{ order.order_number }} від {{ order_created|date:"SHORT_DATE_FORMAT" }} прийняте</p>
<p>Незабаром наш співробітник зателефонує до Вас і узгодить всі необхідні деталі.</p>
<p>Статус замовлення Ви завжди можете переглянути в
    <span><a href="http://shor.com.ua/profile/">Особистому кабінеті</a></span>.</p>
<p>Замовлення</p>

<br>
<p>До зв'язку...</p>

</body>
</html>

