{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row col-lg-12">
            {% if products_in_basket %}
            <div class="col-lg-8">
                <h2 class="text-center checkout-page-title">Оформлення замовлення</h2>
                <hr>
                    <div class="checkout-page-order-title">
                        <span class="checkout-page-list-number"> 1 </span> Ваше Замовлення
                    </div>
                    <form class="form-horizontal" method="post" id ="form_order_product"
                          action="{% url 'basket_update' %}">{% csrf_token %}
                        {% include 'orders/checkout_order_table.html' %}
                    </form>
                    <div class="checkout-page-order-title">
                        <span class="checkout-page-list-number"> 2 </span>
                        Доставка
                    </div>
                    <form class="form-horizontal" method="post" id ="form_order_delivery"
                          action="{% url 'checkout' %}">{% csrf_token %}
                        {% include 'orders/checkout_delivery section.html' %}

                    <div class="checkout-page-order-title">
                        <span class="checkout-page-list-number"> 3 </span>
                        Оплата
                    </div>
                    {% include 'orders/checkout_payment section.html' %}

            </div>
            <div class="col-lg-4 checkout-sidebar">
                {% include 'orders/checkout_sidebar.html' %}
            </div>
            <div class="form-group">
                <button type="submit" id="submit_order_btn" class="hidden"
                        data-product_in_basket = "{{ products_in_basket }}">Купити</button>
            </div>
            </form>
        </div>
    </div>

             {% else %}
                <h3 class="text-center">В Вашей корзине нет товаров</h3>
            {% endif %}

{% endblock %}