<table class="table text-center">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>Сума</th>
        </tr>
    </thead>
    <tbody>
        {% for product_in_basket in products_in_basket %}
            <tr>
                <td>
                    {% if product_in_basket.product %}
                        <span>{{ product_in_basket.product }}</span>
                    {% else %}
                        <span>{{ product_in_basket.bundle }}</span>
                    {% endif %}
                    <span class="product-basket-name" hidden>{{ product_in_basket.id }}</span>
                </td>
                <td>
                     <input value="{{ product_in_basket.nmb }}" type="number"
                            class="form-control product-in-basket-nmb"
                            name="product_in_basket_{{ product_in_basket.id }}">
                </td>
                <td>
                     <span class="product-price" name="price_per_item">
                        {{ product_in_basket.price_per_item}}
                    </span>
                </td>
                <td>
                    <span class="total-product-in-basket-amount">
                        {{ product_in_basket.total_price }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
