<div class="checkout-sidebar-focus">
    тут будет общий счет
    <div class="checkout-promo">
        прокомокод
    </div>
    <div class="checkout-total-order">
        <h4 class="checkout-total-order-title"> Итого </h4>
        <div class="checkout-total-items"> X единиц товаров на сумму ZZZZ грн. </div>
        <div class="checkout-total-delivery"> Стоимость доставки - по тарифам перевозчика</div>
        <hr>
        <div class="checkout-total-payment"> К оплате  ЙЙЙЙЙЙ грн.</div>
        <hr>
        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-lg">Заказ подтверждаю</button>
        </div>
        <div class="checkout-user-agreement"> Подтверждая заказ, я принимаю условия:
            положения о сборе и защите персональных данных
            пользовательского соглашения
        </div>
    </div>
</div>
