<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Копия формы</title>
</head>

<body>
<h4>Письмо с Контактой Формы сайта</h4>
<p>__________________________________________</p>
тестовое поле - надо подумать логику
возможно надо высылать стандартное сообщение с сылкой на БД с письмами
<p>__________________________________________</p>
<p>
    Детали письма:<br>
    Тема: {{subject}}<br>
    Имя отправителя: {{requestor_name}} <br>
    Email отправителя: {{to_list}} <br>
    Телефон отправителя: {{phone_sender}} <br>
    Город отправителя: {{city_sender}} <br>
</p>
<p>Текст письма:</p>
<p>{{message|linebreaks}}</p>
</body>
</html>
