<div class="advert-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="{{ advert_left.url }}">
                    <img src="{{ advert_left.image.url }}" class="img-responsive advert-left">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="{{ advert_right.url }}">
                    <img src="{{ advert_right.image.url }}" class="img-responsive advert-right">
                </a>
            </div>
        </div>
    </div>
</div>