<div class="col-lg-3">
    <div class="blog-item">
        <div>
            <div class="center-block img-product">
                 <a href="{% url 'blog' blog_image.blog.slug %}">
                    <img src="{{ blog_image.image.url }}" class = "img-responsive">
                </a>
            </div>
        </div>
        <div class="product-name">
            <h4>{{ blog_image.blog.title_name }}</h4>
        </div>
        <div class="product-s-description">
            <p>
            {{ blog_image.blog.main_short_content|truncatechars_html:70 }}
            </p>
        </div>

        <div class="add-to-cart-btn">
            <button class="btn btn-success">
                Read more
            </button>
        </div>
    </div>
</div>
