{% extends 'base.html' %}


{% block content %}
{% load static %}




<div class="general-container-background">
    <div class="container top-container">
        <div class="row">

            {% if auto_error %}
                <label class="error">{{ registration_error }}</label>
            {% endif %}

            {% if authorization_error %}
                <label class="error">{{ authorization_error }}</label>
            {% endif %}

            <div class="col-lg-12">
                <h1>Вашу ел. адресу {{ subscriber_current }} підтверждено!!!</h1>
            </div>
            <div class="col-lg-12 activation-success-box">
                {% if activation_success_text_object.page_text %}
                    {% autoescape off %} {{ activation_success_text_object.page_text }} {% endautoescape %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}