<div class="col-lg-3 col-md-6 col-sm-6">
    <a href="{% url 'cosmetolog' cosmetolog.slug %}" class="link-decoration">
        <div class="cosmetolog-item shadow-item-box">
            <div>
                <div class="d-block mx-auto img-cosmetolog">
                        <img src="{{ cosmetolog.logo_image.url }}" class = "img-fluid img-cosmetolog-inside">
                </div>
            </div>
            <div class="product-name">
                <p style="font-size: 12px;">{{ cosmetolog.type_text }}</p>
            </div>
            <div class="product-name">
                <h4>{{ cosmetolog.name }}</h4>
            </div>
            <div class="product-s-description">
                {% if cosmetolog.headline %}

                        {{ cosmetolog.headline|truncatechars_html:50 }}

                {% else %}

                        {{ cosmetolog.description|truncatechars_html:50 }}

                {% endif %}
            </div>
        </div>
    </a>
</div>