
    <div class="section">
        <div class="container-fluid">
            <div class="row section-product-lines col-lg-8 offset-2">
                {% include 'landing/home_center_intro_carousel.html' %}
            </div>
        </div>
    </div>

        <div class="section">
        <div class="container-fluid">
            <div class="row section-product-lines col-lg-12">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Серії препаратів
                    </h1>
                </div>
                    {% for product_line in product_lines %}
                        {% include 'landing/product_line_shor_1.html' %}
                    {% endfor %}
<!---->
            </div>
        </div>
    </div>
<!---->

    <div class="section section1 all">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Популярні новинки
                    </h1>
                </div>
                {% for product_sales in p_sales %}
                    {% include 'landing/product_item_visitor_sales.html' %}
                {% endfor %}

            </div>
        </div>
    </div>

