<div class="container-fluid">
    <div class="row section-product-lines">
        <div class="shor-carousel col-lg-5">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for advert in advert_all %}
                    {% if forloop.counter0 == 0 %}
                    <div class="carousel-item active">
                        {% else %}
                    <div class="carousel-item">
                        {% endif %}
                        <img class="d-block w-100 img-fluid" src="{{ advert.image.url }}" alt="{{ advert.alt }}" width="460" height="345">
                    </div>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="shor-intro col-lg-7">
            {% if home_carousel_text_object.page_text %}
                    {% autoescape off %} {{ home_carousel_text_object.page_text }} {% endautoescape %}
                {% endif %}
        </div>
    </div>
</div>
