{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="general-container-background">
        <div class="container top-container">
            <div class="row">
                {% if login_message %}
                    <div class="col-lg-8 col-lg-offset-2">
                        the USER with such email has already the account <br>
                        Please, sign in and make registration for Training
                    </div>
                {% endif %}
                <div class="col-lg-8 col-lg-offset-2">
                    <form action="/login/" method="post" class="text-center col-lg-4 col-lg-offset-4">{% csrf_token %}
{#                        <div class="form-group">#}
    {#                           <label>Ваш имейл: </label>#}
{#                            <input type="email" name="email" class="form-control" placeholder="Email Address">#}
{#                        </div>#}
                        <div class="form-group">
    {#                            <label>Ваше имя: </label>#}
                            <input class="form-control" type="text" name="username" id="username" placeholder="Name">
{#                            <input name="{{ form.name.name }}" class="form-control" placeholder="Name">#}
                        </div>
                        <div class="form-group">
    {#                            <label>Ваш город: </label>#}
                            <input class="form-control" type="password" name="password" id="password" placeholder="Hasło">
{#                            <input name="{{ form.city.name }}" class="form-control" placeholder="Your city">#}
                        </div>

                        {% if login_error %}
                            <label class="error">{{ login_error }}</label>
                        {% endif %}

                        <button type="submit" class="btn btn-primary btn-orange">Отправить</button>

{#                        <div class="label round secondary"><a href="/registration/">Регистрация</a></div>#}

                        <div class="label round secondary"><a href="/password_reset/">I forgot Password</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}