{% load i18n %}{% autoescape off %}
{% blocktrans %}Вы получили это письмо потому, что направили запрос на восстановления пароля для своего провиля на {{ site_name }}.
{% endblocktrans %}

{% trans "Пожалуйста, предите на указанную ниже страницу и введите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ваш логин:" %} {{ user.get_username }}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}С уважением,{% endblocktrans %}
{% blocktrans %}Команда {{ site_name }} {% endblocktrans %}

{% endautoescape %}
