{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Инструкция по установки нового пароля - выслана</h1>
    <p>
        На Ваш email была выслана инструкция по восстановлению пароля, если существует профиль с Вашим email адрессом.
        <br>В ближайшее время Вы получите ее.<br>
        Если Вы не получили email, пожалуйста проверьте корректность email адресса, с который Вы регистрировались, и
        проверьте папку СПАМ.
    </p>
</div>
{% endblock %}
