<div class="col-lg col-md-6 col-sm-6">
    <a href="#" class="link-decoration">
        <div class="product-item shadow-item-box">
            <div>
                <div class="d-block mx-auto img-product">
                    <img src="{{ product_line.product_category_logo_image.url }}" class = "img-fluid img-product-inside">
                </div>
            </div>
            <div class="product-name">
                <h4>{{ product_line.name|truncatechars_html:40 }}</h4>
            </div>
            <div class="product-s-description">
                <p> {% autoescape off %}
                {{ product_line.description|truncatechars_html:100 }} {% endautoescape %}
                </p>
            </div>
        </div>
    </a>
</div>