<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <form action="" method="post" class="text-center" enctype="multipart/form-data" id="form_profile_save" >
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="col-lg-11 offset-lg-1">
                    <div>
                        <input name="cosmetolog_id" class="form-control" value="{{ cosmetolog.id }}"
                               type="hidden">
                    </div>
                    <div class="form-group row">
                        <label>Ім'я</label>
                        <input name="{{ form.cosmetolog_name.name }}" class="form-control" type="text"
                               placeholder="Введите имя Косметолога" value="{{ cosmetolog.cosmetolog_name }}" required>
                        <span class="email--error">{{ form.cosmetolog_name.errors }}</span>
                    </div>
                    <div class="form-group row">
                        <label>Прізвище</label>
                        <input name="{{ form.cosmetolog_surname.name }}" value="{{ cosmetolog.cosmetolog_surname }}"
                               class="form-control" type="text" placeholder="*" required>
                        <span class="email--error">{{ form.receiver_surname.errors }}</span>
                    </div>
                    <div class="form-group row">
                        <label>По батькові</label>
                        <input name="{{ form.cosmetolog_father_name.name }}" value="{{ cosmetolog.cosmetolog_father_name }}"
                               class="form-control" type="text" placeholder="*" required>
                        <span class="email--error">{{ form.cosmetolog_father_name.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-10 offset-lg-1">
                    <div class="form-group">
                        <div class="form-group row">
                            <label>Email - це Ваш незмінний логін</label>
                            <input name="{{ form.email.name }}" class="form-control"
                                   placeholder="*" type="email" value="{{ cosmetolog.email }}" disabled>
                            <span class="email--error">{{ form.email.errors }}</span>
                        </div>
                        <div class="row">
                            <label>Номер телефона</label>
                        </div>
                        <div class="row">
                            <div class="form-group tel-index col-lg-2">
                                <div name="tel_index" class="form-control">+38</div>
                            </div>
                            <div class="form-group tel-number col-lg-10">
                                <input name="{{ form.tel_number.name }}" class="form-control"
                                       type="tel" pattern="[0-9]{10}"
                                       placeholder="Номер телефону в форматі 0501234567"
                                       value="{{ cosmetolog.tel_number }}">
                            </div>
<!--                            <div class="recommendation">-->
<!--                                <p>Номер телефону в форматі 0501234567.</p>-->
<!--                            </div>-->
                        </div>
                        <div class="form-group row">
                            <label>Місто</label>
                            <input name="{{ form.city.name }}" value="{{ cosmetolog.city }}"
                                   class="form-control" type="text" placeholder="*" required>
                            <span class="email--error">{{ form.city.errors }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-orange profile-btn-save" name="_save_profile">
            Сохранить</button>
    </form>
</div>
