<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#order_"
            aria-expanded="false" aria-controls="collapseExample"> Button with data-target</button>
    <div class="collapse" id="order_">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Дата Замовлення</th>
                <th>Номер Замовлення</th>
                <th>Поточний статус</th>
                <th>Сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ order_set }}

            {% for order in order_list %}
                <tr>
                    <td>
                        <span>{{ order.order_created }}</span>
                    </td>
                    <td>
                        <span>{{ order.order_number }}</span>
                    </td>
                    <td>
                         <span >{{ order.order_status }}</span>
                    </td>
                    <td>
                         <span>{{ order.total_price }} грн.</span>
                    </td>
                    <td>
                         <button class="btn btn-primary" type="button" data-toggle="collapse"
                                 data-target="#order_{{ order.order_number }}" aria-expanded="false"
                                 aria-controls="collapseExample"> Розгорнути</button>
                    </td>
                </tr>
                <table class="table text-center collapse" id="order_{{ order.order_number }}">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Кількість</th>
                            <th>Ціна</th>
                            <th>Сума</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_in_order in products_in_order %}
                            <tr>
                                <td>
                                    <span>{{ product_in_order.product }}</span>
                                </td>
                                <td>
                                    <span>{{ product_in_order.nmb }}</span>
                                </td>
                                <td>
                                     <span class="product-price" name="price_per_item">
                                        {{ product_in_order.price_per_item}} грн.
                                    </span>
                                </td>
                                <td>
                                    <span class="total-product-in-basket-amount">
                                        {{ product_in_order.total_price }} грн.
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
<hr>

            {% endfor %}
        </tbody>
    </table>

<hr>

</div>
