{% extends 'base.html' %}


{% block content %}

    {% if registration_success %}
        <div class="general-container-background">
            <div class="container top-container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="success"> {{ registration_success }} </h1>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <div class="general-container-background">
            <div class="container top-container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 login-page">
                        <h3 class="text-center">Реєстрація</h3>

                            {% if login_error %}
                        <label class="error">{{ login_error }}</label>
                            {% endif %}
                        <form action="/registration/" method="post" class="text-center col-lg-6 offset-lg-3" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="{{ form_cosmetolog.cosmetolog_surname.name }}" class="form-control"
                                       placeholder="Призвище"
                                       oninvalid="this.setCustomValidity('Введить, будь ласка, Ваше Призвище')"
                                       onchange="try{setCustomValidity('')}catch(e){}"
                                       oninput="setCustomValidity(' ')"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="{{ form_cosmetolog.cosmetolog_name.name }}" class="form-control"
                                       placeholder="Ім'я"
                                       oninvalid="this.setCustomValidity('Введить, будь ласка, Ваше Ім`я')"
                                       onchange="try{setCustomValidity('')}catch(e){}"
                                       oninput="setCustomValidity(' ')"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="{{ form_cosmetolog.cosmetolog_father_name.name }}" class="form-control"
                                       placeholder="По батькові"
                                       oninvalid="this.setCustomValidity('Введить, будь ласка, Ваше Ім`я по батькові')"
                                       onchange="try{setCustomValidity('')}catch(e){}"
                                       oninput="setCustomValidity(' ')"
                                       required>
                            </div>
                            <div class="row">
                                <div class="form-group tel-index col-lg-3">
                                    <div name="tel_index" class="form-control">+38</div>
                                </div>
                                <div class="form-group tel-number col-lg-9">
                                    <input name="{{ form_cosmetolog.tel_number.name }}" class="form-control"
                                           type="tel" pattern="[0-9]{10}" placeholder="телефон у форматі 0504755151"
                                           oninvalid="this.setCustomValidity('Не схожий формат 0504755151')"
                                           onchange="try{setCustomValidity('')}catch(e){}"
                                           oninput="setCustomValidity(' ')"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="{{ form.email.name }}"
                                       class="form-control" placeholder="Ел. пошта - це буде Ваш логін"
                                       oninvalid="this.setCustomValidity('Це не схоже на ел. пошту')"
                                       onchange="try{setCustomValidity('')}catch(e){}"
                                       oninput="setCustomValidity(' ')"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="{{ form_cosmetolog.city.name }}"
                                       class="form-control" placeholder="Місто"
                                       oninvalid="this.setCustomValidity('Введить, будь ласка, Ваше Місто')"
                                       onchange="try{setCustomValidity('')}catch(e){}"
                                       oninput="setCustomValidity(' ')"
                                       required>
                            </div>
                            <div class="form-group">
                                <input name="{{ form.password1.name }}" type="password"
                                       class="form-control" placeholder="Пароль"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                       oninvalid="this.setCustomValidity('Це слабкий пароль')"
                                       onchange="try{setCustomValidity('')}catch(e){}"
                                       oninput="setCustomValidity(' ')"
                                       required>
                                {% if error_msg %}
                                    <div class="alert alert-danger" style="font-size: 8pt;padding: 0;text-align: left;">
                                        {{ error_msg }}
                                    </div>
                                {% else %}
                                    <div class="alert" style="font-size: 8pt;padding: 0;text-align: left;">
                                    <ul>
                                        <li>Пароль не може бути надто схожим на іншу особисту інформацію.</li>
                                        <li>Ваш пароль повинен містити як мінімум 8 символів. Великі та маленьки букви.</li>
                                        <li>Пароль не може бути одним із дуже поширених.</li>
                                        <li>Пароль не може складається лише із цифр.</li></ul>
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                            <input name="{{ form.password2.name }}" type="hidden" class="form-control"
                                   placeholder="Повторить Пароль">
                            </div>
                            <div class="form-group">
                                <label style="font-style: italic;"> Додайте Ваш сертифікат косметолога
                                    <input type="file" name="{{ form_cosmetolog.certificate_image.name }}" id="getFile">
                                </label>
                            </div>
                            <label>Реєструючись, ви погоджуєтеся з <a href="/dohovir-publichnoi-oferty/"> договором публичної оферти</a>
                                та <a href="/uhoda-korystuvacha/">угодою користувача</a></label>
                            <button type="submit" class="btn shor-btn shor-color"
                            name="_ask_registration">Зареєструватися</button>
                        </form>
                        <a href="/login/"><div class="label round secondary col-lg-6 offset-lg-3 link-login">Вже Зареєстрований</div></a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}