{% extends 'base.html' %}


{% block content %}

{#    <div class="large-offset-3 large-6 columns">#}
{#        <form action="/registration/" method="post">#}
{#            {% csrf_token %}#}
{##}
{#            {{ form }}#}
{##}
{#            <input class="button" type="submit" value="Зарегистрироваться">#}
{#        </form>#}
{#    </div>#}

    <div class="general-container-background">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">RESET YOUR PASSWORD</h1>
                    <div>
                        <form action="/reset/" method="post" class="text-center col-lg-4 col-lg-offset-4">{% csrf_token %}
                            <div class="form-group">
{#                                                         <label>Your mail: </label>#}
{#                            <input type="email" name="{{ form.email.name }}" class="form-control" placeholder="Email Address">#}
                            <input type="email" name="email" class="form-control" placeholder="Email Address">

                            </div>
                            <div class="text-center">
                                {% if reset_error %}
                                    <label class="error">{{ reset_error }}</label>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary btn-orange">Отправить</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div>
            {{ form }}
        </div>
    </div>

{% endblock %}