<div class="container search-title-block-list">
    <div class="row">
        <div class="col-lg-10 title-block-list">
            <div class="row">
                <div class="col-lg-5 text-center">
                    Косметолог
                </div>
                <div class="col-lg-1">
                    Скидка
                </div>
                <div class="col-lg-3 text-center low-price-title">
                    Цена (от и до)
                </div>
{#                <div class="col-lg-1 text-center high-price-title">#}
{#                    Najwyższa#}
{#                    <br>#}
{#                    cena#}
{#                </div>#}
            </div>

        </div>
    </div>
</div>