<div class="container service-we-found-title">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="h3 text-center we-found-title">
                    {% if search_service_999 %}
                        We found {{ cosmetolog_count }} Cosmetologs with - {{ query_service }}  - Service
                    {% elif search_address_999 %}
                        We found {{ cosmetolog_count }} Cosmetologs in {{ query_address}}  - Address
                    {% elif search_service_address_999 %}
                        We found {{ cosmetolog_count }} cosmetologs who provides {{ query_service }}
                        SERVICEs at {{ query_address }} adsresss
                    {% endif %}
                </h1>
            </div>
        </div>
</div>