<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 choose-town">
            <h3 class="h3 choose-town-title">
                {% if search_service_999 %}
                    Wybierz YOUR miasto
                {% else %}
                    Wybierz SERVICE
                {% endif %}
            </h3>
            <div class="town-simple-list">
{#                    <a href="{% url 'product' product_image.product.slug %}">#}
                {% if search_service_999 %}
                    {% for active_address in active_addresses_towns %}
                        <a class="town-simple-item"
                        {% if q_2 %}
                           href="{% url 'search_service_address' q_1 q_2 active_address.slug %}">
                        {% else %}
                            href="{% url 'search_service_address' q_1 active_address.slug %}">
                        {% endif %}
                            {{ active_address.display_address }}
                        </a>
                    {% endfor %}
                {% else %}
                    {% for service_category in service_categories %}
                        <a class="town-simple-item"
                           {% if q_2 %}
                           href="{% url 'search_service_address' service_category.slug q_1 q_2 %}">
                        {% else %}
                            href="{% url 'search_service_address' service_category.slug q_1 %}">
                        {% endif %}
                            {{ service_category.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>