<div class="search-main-top-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 search-main-top clear">
                <form method="GET" action="/uslugi-kosmetologicheskie/"> {% csrf_token %}
                    <input class="col-lg-5 search-field-city" id="tags" type="text" name="q"
                           placeholder="Введите адресс и выберите из списка"/>
                    <input id="tags_48" name="q_48" type="hidden"/>
                    <input class="col-lg-5 search-field-city" id="tags_1" type="text" name="q1"
                           placeholder="Введите услугу косметолога" value = '{{ request.GET.q1 }}'/>
                    <input id="tags_148" name="q_148" type="hidden"/>
                    <input type="submit" class="col-lg-2 btn btn-primary find-icon" value="Найти"/>
                </form>
            </div>
        </div>
    </div>
</div>
