{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="section section3 popular">
        <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="h3 text-center">
                            We found at {{ query }} following {{ query1 }} SERVICEs
                        </h1>
                    </div>
                    <div class="col-lg-12">
                        <h2 class="h3 text-warning text-recommendation">
                            Recommended services from the best Cosmetologs
                        </h2>
                    </div>
                    <div class="col-lg-12">
                        {% for search_service_products_image in search_service_products_images %}
                            {% include 'landing/search_service_product_item.html' %}
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
    <h2 class="text-center xs-hidden all-service">
        All {{ query1 }} service on {{ query }} address
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 title-block-list">
                <div class="row">
                    <div class="col-lg-5 text-center">
                        Cosmetolog
                    </div>
                    <div class="col-lg-1">
                        Discount
                    </div>
                    <div class="col-lg-2 text-center low-price-title">
                        Najniższa
                        <br>
                        cena
                    </div>
                    <div class="col-lg-1 text-center high-price-title">
                        Najwyższa
                        <br>
                        cena
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-xs-12">
                <ul class="media-list">
{#                    {% for search_service_products_image in search_service_products_images %}#}
{#                        {% include 'landing/search_service_product_item_list.html' %}#}
{#                    {% endfor %}#}

                    {% for search_cosmetolog in search_cosmetologs %}
                        {% include 'landing/search_service_product_item_list.html' %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}