<div class="container search-title-block-list">
    <div class="row">
        <div class="col-lg-9 title-block-list">
            <div class="row">
                <div class="col-lg-5 text-center">
                    Cosmetolog
                </div>
                <div class="col-lg-1">
                    Discount
                </div>
                <div class="col-lg-2 text-center low-price-title">
                    Najniższa
                    <br>
                    cena
                </div>
                <div class="col-lg-1 text-center high-price-title">
                    Najwyższa
                    <br>
                    cena
                </div>
            </div>

        </div>
    </div>
</div>